<div class="clear">
<h2>The Value of Money</h2>
<figure>
	<img src="./img/money.jpg" alt="money" /> 
	<figcaption>Cash collection</figcaption>
</figure>
<div class="text">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus voluptates culpa tempora voluptate blanditiis commodi suscipit excepturi totam placeat itaque, enim consequuntur eaque, reiciendis neque aperiam maxime corporis, ratione debitis! Deleniti, itaque! Quisquam rem corporis nostrum, beatae nesciunt molestias minima eligendi ut error aliquam sit mollitia debitis, provident, totam explicabo.
	</p>
	<br>
	<p>Cupiditate dolores, voluptates, accusantium eos sit eum illo quos voluptatum recusandae blanditiis! Assumenda est sunt tempore accusamus animi nam voluptate nostrum distinctio praesentium ipsa deleniti repellendus, temporibus, vel consectetur velit provident necessitatibus nulla optio enim quidem suscipit? Dolorem suscipit, quo illo harum quam eius, accusantium. Impedit odit voluptates ut, temporibus.</p>
	<br>
	<p>Sunt tempore accusamus animi nam voluptate nostrum distinctio praesentium ipsa deleniti repellendus, temporibus, vel consectetur velit provident necessitatibus nulla optio enim quidem suscipit?</p>
</div>
</div>			
<hr>
<div class="clear">			
<h2>GMO Food</h2>
<figure>
	<img src="./img/food.jpg" alt="food" /> 
	<figcaption>GMO food</figcaption>
</figure>
<div class="text">
	<p>Cupiditate dolores, voluptates, accusantium eos sit eum illo quos voluptatum recusandae blanditiis! Assumenda est sunt tempore accusamus animi nam voluptate nostrum distinctio praesentium ipsa deleniti repellendus, temporibus, vel consectetur velit provident necessitatibus nulla optio enim quidem suscipit? Dolorem suscipit, quo illo harum quam eius, accusantium. Impedit odit voluptates ut, temporibus.</p>
	<br>
	<p>Cupiditate dolores, voluptates, accusantium eos sit eum illo quos voluptatum recusandae blanditiis! Assumenda est sunt tempore accusamus animi nam voluptate nostrum distinctio praesentium ipsa deleniti repellendus, temporibus, vel consectetur velit provident necessitatibus nulla optio enim quidem suscipit? Dolorem suscipit, quo illo harum quam eius, accusantium. Impedit odit voluptates ut, temporibus.</p>
</div>
</div>
<hr>
<div class="clear">
<h2>The View of World in 2100</h2>
<figure>
	<img src="./img/future.jpg" alt="future" /> 
	<figcaption>VR technology</figcaption>
</figure>
<div class="text">
	<p>Quos in ullam vero tempore ratione possimus earum amet provident dolorem illo eum iste, ducimus deleniti odit repellat quis nobis unde est facere placeat aliquid impedit suscipit. Omnis voluptatum et quis, assumenda, maiores excepturi sequi quo consequatur dolorem eius voluptas explicabo, asperiores nobis eos animi nemo temporibus! Delectus, vero, sint!</p>
	<br>
	<p>Cupiditate dolores, voluptates, accusantium eos sit eum illo quos voluptatum recusandae blanditiis! Assumenda est sunt tempore accusamus animi nam voluptate nostrum distinctio praesentium ipsa deleniti repellendus, temporibus, vel consectetur velit provident necessitatibus nulla optio enim quidem suscipit? Dolorem suscipit, quo illo harum quam eius, accusantium. Impedit odit voluptates ut, temporibus.</p>
	<br>
	<p>Cupiditate dolores, voluptates, accusantium eos sit eum illo quos voluptatum recusandae blanditiis! Assumenda est sunt tempore accusamus animi nam voluptate nostrum distinctio praesentium ipsa deleniti repellendus.</p>
</div>
</div>