<h1>Portfolio</h1>
<div class="parent">
	<div class="child">
		<img src="./img/microfilm.jpg" alt="microfilm">
		<p>Microfilm</p>
	</div>
	<div class="child">
		<img src="./img/magazine.jpg" alt="magazine">
		<p>Magazine Shooting</p>
	</div>
	<div class="child">
		<img src="./img/camping.jpg" alt="camping">
		<p>Camping Plan</p>
	</div>
	<div class="child">
		<img src="./img/platform.jpg" alt="interactive platform">
		<p>Interactive Platform</p>
	</div>
	<div class="child">
		<img src="./img/color.jpg" alt="color run">
		<p>Color Run</p>
	</div>
	<div class="child">
		<img src="./img/promotion.jpg" alt="offline promotion">
		<p>Offline Promotion</p>
	</div>
</div>